<div class="col col-md-4">
    <div class="lists__card">
      <div class="lists__card__body">
        <div class="lists__card__body__header">
          <h3 class="lists__card__body__header-title">This is title of list</h3>
          <div class="lists__card__body__header-dropdown" dropdown>
            <a dropdownToggle data-toggle="dropdown" aria-haspopup="true" aria- expanded="true">
              <i class="fa fa-ellipsis-h"></i>
            </a>
            <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">Print</a>
                <a role="menuitem" tabindex="-1" href="#">Share</a>
                <a role="menuitem" tabindex="-1" href="#">Edit</a>
                <a role="menuitem" tabindex="-1" href="#">Delete</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="lists__card__body__content">
          <div class="lists__card__body__content__row">
            <div class="lists__card__body__content__row__column">
              <div class="lists__card__body__content__row__column-amount">
                $ 240.00
              </div>
              <div class="lists__card__body__content__row__column-title">
                Total Cost
              </div>
            </div>
            <div class="lists__card__body__content__row__column">
              <div class="lists__card__body__content__row__column-amount">
                18
              </div>
              <div class="lists__card__body__content__row__column-title">
                Products
              </div>
            </div>
          </div>
          <div class="lists__card__body__content__row">
            <div class="lists__card__body__content__row__column">
              <div class="lists__card__body__content__row__column-amount">
                10
              </div>
              <div class="lists__card__body__content__row__column-title">
                Diet Settings
              </div>
            </div>
            <div class="lists__card__body__content__row__column">
              <div class="lists__card__body__content__row__column-amount">
                2
              </div>
              <div class="lists__card__body__content__row__column-title">
                Vendors
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>