<div class="dashboard">
  <div class="dashboard__content">
    <div class="container">
      <div class="row">
        <div class="col col-md-4">
          <dashboard-average></dashboard-average>
        </div>
        <div class="col col-md-8">
          <dashboard-overview></dashboard-overview>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <dashboard-recommendations></dashboard-recommendations>
        </div>
        <div class="col col-md-3">
          <dashboard-viewed></dashboard-viewed>
        </div>
        <div class="col col-md-3">
          <div class="box-advertisement">
            <ng-adsense
              [adClient]="'ca-pub-3783664105032363'"
              [adFormat]="'auto'"
              [adSlot]="7797307814">
            </ng-adsense>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
