<h3>Change Password</h3>

<form>
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input name="old-password" class="form-control" type="input" placeholder="Enter your existing password" />
  </div>

  <div class="form-group">
    <label for="new-password">New Password</label>
    <input name="new-password" class="form-control" type="email" placeholder="Enter your new password" />
  </div>
  <div class="form-group">
    <label for="retype-password">Retype Password</label>
    <input name="retype-password" class="form-control"  type="input" placeholder="Retype your new password" />
  </div>

  <button class="btn btn-primary" type="submit" disabled>Submit</button>
</form>
