<div class="container">
  <div class="row">
    <div class="list__header">
      <div class="col col-md-9">
        <h1 class="list__header-title">This is the title of the page</h1>
      </div>
      <div class="col col-md-3">
          <div class="list__header__buttons">
            <button>Share</button>
            <button>Edit</button>
            <button>Delete</button>
         </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-9">

    </div>
    <div class="col col-md-3">

    </div>
  </div>
</div>